<% layout('layout/boilerplate') %>
    <h1>Campgrounds available at Yelp Camp!!</h1>

    <%for(let c of camp ) { %>
        <ul>
            <li>
                <a href="/campground/<%=c._id%>">
                    <%=c.title%>
                </a>
            </li>
        </ul>
        <% } %>

            <a href="/campground/new">Add new campground</a>