<% layout('layout/boilerplate') %>
    <h1>Add new campground detail below</h1>
    <form action="/campground" method="POST">

        <div class="mb-3">
            <label class="form-label" for="title">Add Camp Name</label>
            <input class="form-control" type="text" id="title" name="title">
        </div>

        <div class="mb-3">
            <label class="form-label" for="location">Enter Location</label>
            <input class="form-control" type="text" name="location" id="location">
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Enter Description</label>
            <input class="form-control" type="text" name="description" id="description">
        </div>

        <div class="mb-3">
            <label class="form-label" for="image">Enter Image URL</label>
            <input class="form-control" type="text" name="image" id="image">
        </div>

        <div class="mb-3">
            <label class="form-label" for="price">Enter price</label>
            <input class="form-control" type="number" name="price" id="price">
        </div>

        <div class="mb-3">
            <button class="btn btn-success">Add Campground</button>
        </div>

    </form>

    Next similarly we will also style the edit page form as well.